.modal-dialog {
    margin-top: 0;
}

.card-img-top {
    transition: transform 0.05s;
}

.card-img-top:hover {
    transform: scale(1.05);
    transition: transform 0.1s;
}

.magnifier {
    margin: 0 auto;
    /* position: relative; */
}

.image-modal {
    background: rgba(0, 0, 0, 0.753);
}

.image-modal .modal-content {
    background: none;
    border: none;
}

.mr-sm-2.search-input {
    margin-right: 0 !important;
}

.app {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.search-plus {
    pointer-events: none;
    cursor: pointer;
    position: absolute;
    width: 50px;
    opacity: 0;
    height: 35px;
    width: 35px;
    color: #363636;
    transition: opacity 0.2s;
}

.product-image {
    transition: opacity 0.2s;
}

.product-image:hover {
    opacity: 0.5;
    transition: opacity 0.2s;
}

.product-image:hover + .search-plus {
    opacity: 1;
    transition: opacity 1s;
}
